/* Content Area
---------------------------------------------------------------------------------------------------- */

body {
	background: $white;
}

.site-inner {
	overflow: hidden;
	padding: 20px 0 60px;
	@include media(">=tablet") {
		padding: 40px 0 100px;
	}

	&.full {
		padding: 0;
	}
}

/* Breadcrumbs
--------------------------------------------- */

.breadcrumb {
	color: $grey_6;
	grid-column: 1 / -1;
	max-width: $content-width;
	margin: 0 auto $base-margin;
	font-size: 14px;
	text-align: center;

	a {
		@extend %alt_link;
	}
	
	// Вместо текста в крошках для главной страницы значок домой
	.icon-home {
		background: url(../icons/color/home-grey.svg) no-repeat center;
		background-size: contain;
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		position: relative;
		vertical-align: middle;
		@extend %transition;
		
		&:hover {
			background: url(../icons/color/home-orange.svg) no-repeat center;
			background-size: contain;
			content: '';
			display: inline-block;
			width: 14px;
			height: 14px;
			position: relative;
			vertical-align: middle;
		}
	}

}

/* Single Post
--------------------------------------------- */

.entry {

	.entry-header {
		text-align: center;
		margin-bottom: 24px;

		.entry-title {
			margin: 0 auto 16px;
		}

		.entry-meta {
			color: $grey_6;
			margin: 0;
			padding: 6px 0;
			overflow: hidden;
			width: 100%;

			& > span {
				display: block;
			}

			& > .entry-author {

				img {
					border-radius: 50%;
				}
			}

			@include media(">=tablet") {
				display: flex;

				& > span {
					flex-grow: 1;
					flex-basis: 0;

					&:first-child {
						text-align: left;
					}

					&:last-child {
						text-align: right;
					}
				}

				& > .entry-author {
					display: flex;
					justify-content: flex-start;

					img {
						margin-right: $base-margin;
					}
				}
			}

			.label {
				color: $grey_4;
				display: block;
				font-size: 14px;
				text-transform: lowercase;
			}

			a {
				@extend %alt_link;
			}
		}

		@include media(">=tablet") {
			margin-bottom: 48px;

			.entry-meta {
				max-width: 768px;
				margin-left: auto;
				margin-right: auto;
			}
		}

	}

	.entry-content {

		@include media(">=medium") {

			.alignwide,
			.gist {
				margin: calc( 2 * #{$block-margin} ) -100px;
				max-width: calc( 100% + 200px );
			}

			.single-projects & .wp-block-image.alignfull {
				position: relative;

				&::after {
					background: $border-color;
					content: '';
					display: block;
					height: 2px;
					width: calc( 100% + 60px );
					position: absolute;
					left: -30px;
					bottom: -2px;
				}
			}
		}
	}

	.entry-footer {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		padding: 15px 0;
		margin: $margin_2x auto;
		overflow: hidden;
		width: 100%;

		.shared-counts-wrap {
			margin: 0;
			float: left;
			width: auto;
		}

		.post-ratings {
			width: auto;
			font-weight: 400;
			float: right;

			@include media("<tablet") {
				float: none;
				margin-top: 10px;

				.postratings-label {
					display: block;
				}
			}

			img {
				vertical-align: middle;
			}

		}
	}
}

.after-entry {
	margin: $margin_2x auto;
}

.entry-categories {
	text-align: center;

	a {
		background: rgba( $blue, .1 );
		border-left: 2px solid $blue;
		color: $base-color;
		display: inline-block;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		padding: 12px 16px;
		@include margin-no-edge( 0 5px 10px );

		&:hover {
			background: rgba( $blue, .2 );
			text-decoration: none;
		}
	}
}

.author-info {
	@include columns-tablet-up( 2, 'div' );
	align-items: center;
	margin: 40px auto;
}

.author-box {
	font-size: 16px;
	padding-left: 100px + 16px;
	position: relative;
	min-height: 100%;

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.h5 {
		margin: 0 0 5px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.author-service {
	background: $grey_8;
	color: $white;
	padding: 16px;
	font-size: 16px;
	@include media("<tablet") {
		margin-top: $margin_2x;
	}


	h5 {
		color: $white;
		margin: 0 0 5px;
	}

	p {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}




/* Shared Counts
--------------------------------------------- */

.site-container .shared-counts-wrap.style-icon .shared-counts-button {

	@include media("<tablet") {
		display: inline-block;
		float: none;
	}

	.shared-counts-icon svg {
		@include icon-position( 20px, 32px );
	}
}

/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0 0 $margin_2x;

		li {
			list-style-type: none;

			article {
				border: 2px solid $grey_2;
				border-bottom-width: 0;
				padding: $base-margin;
				position: relative;

				&:last-child {
					border-bottom-width: 2px;
				}

				&::before {
					background: $grey_2;
					content: '';
					display: block;
					width: 5px;
					height: calc( 100% + 4px );
					position: absolute;
					top: -2px;
					left: -2px;
				}
			}

			&.staff > article {
				background: rgba( $dark-blue, .05 );

				.comment-author {
					display: flex;
					align-items: center;

					img {
						border-radius: 50%;
    				margin-right: $base-margin;
					}
				}

				&::before {
					background: $dark-blue;
				}
			}
		}

		& > li {
			overflow: hidden;
			margin-bottom: $base-margin;
		}

		.comment-author {
			font-family: $alt-font;
			font-weight: 700;
		  @include font-sizes( 18px, 22px );
			margin: 0 0 3px;

			.says {
				display: none;
			}
		}

		.comment-meta {
			font-size: 14px;

			a {
				@extend %alt_link;
			}
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		.comment-reply {
			margin-top: 16px;

			a {
				font-weight: 400;
			}
		}

		ul.children {
			margin: 0;

			& > li {
				border-top: 1px solid $border-color;
			}
		}

		.comment-content > ul {
			margin-bottom: 18px;

			& > li {
				list-style-type: disc;
			}
		}

		.comment-content > ol {
			margin-bottom: 18px;

			& > li {
				list-style-type: decimal;
			}
		}

	}
}

.comment-respond {

	p:last-child {
		margin-bottom: 0;
	}

	.comment & {
		border: 2px solid $grey_2;
		padding: 32px 16px;
	}

	label {
		display: block;
		margin-right: 12px;

		&[for="subscribe"],
		&[for="wp-comment-cookies-consent"] {
			display: inline-block;
		}
	}

	.form-submit {
		text-align: center;
	}

	#cancel-comment-reply-link {
		font-size: 18px;
		color: $highlight;
		float: right;
		vertical-align: middle;
		margin-top: 10px;
	}
}

/* Skip Links
--------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link .skip-link-hidden {
	display: none;
	visibility: hidden;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	outline: none;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Archive
--------------------------------------------- */

.related-posts {
	@include columns-tablet-up( 2 );
	margin: 40px 0;

	@include media(">=medium") {
		margin: 80px 0;
	}

	header h3 {
		margin: 0;
		text-align: center;
	}

	.post-summary {
		margin-top: 20px;
	}
}

.archive .site-main {

	@supports( display: grid ) {

		@include media(">=tablet") {
			display: grid;
			grid-template-columns: repeat( 6, 1fr );
			grid-column-gap: $grid-gap;

			header, nav {
				grid-column: 1 / -1;
			}

			.post-summary {
				grid-column: span 3;

				&.large {
					grid-column: span 2;
				}
			}
		}
	}
}

section.no-results {
	grid-column: 1 / -1;
	text-align: center;
}

/* Testimonial Archive
--------------------------------------------- */

.archive.post-type-archive-testimonial .site-main {
	@include media(">=tablet") {
		grid-template-columns: 1fr;
	}

	.testimonial.private blockquote {
		border-color: $green;
		background: rgba( $green, .05 );
	}
}

.testimonial-filters {

	button {
		@include margin-no-edge( 0 8px 8px 0 );
	}
}


/* Archive Header
--------------------------------------------- */

.archive-description {
	margin: 0 auto $margin_2x;
	max-width: $content-width;
	text-align: center;

	h1 {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}

	.search-form {
		margin: 0 auto;
	}
}

/* Archive Navigation
--------------------------------------------- */

.pagination {
	border-top: 1px solid $border-color;
	font-size: 16px;
	text-align: center;
	padding-top: 22px;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				color: $base-color;
				border-radius: 3px;
				display: block;
				padding: 2px 11px;
				font-weight: 400;
			}

			&.active > a,
			&:hover > a {
				background: $blue;
				color: $white;
				text-decoration: none;
			}
		}
	}
}

/* Archive Search Form
--------------------------------------------- */

.search-form-wrapper {
	margin-bottom: 48px;

	.search-form {
		border-radius: 100px;
		overflow: hidden;
		box-shadow: 0 1px 2px 0 rgba( $black, .3 );
		max-width: 100%;
	}

	.search-field.search {
		border-radius: 100px;
	}
}