// Colors
$white: #fff;
$grey_1: #FAFAFA;
$grey_2: #F5F5F5;
$grey_3: #EEEEEE;
$grey_4: #E0E0E0;
$grey_5: #BDBDBD;
$grey_6: #9E9E9E;
$grey_7: #757575;
$grey_8: #616161;
$grey_9: #424242;
$grey_10: #212121;
$grey_11: #333;
$grey_12: #999;
$grey_13: #DDD;
$black: #000;

// Brand Colors
// -- normal / ultralight / lighter
$blue_1: #4374c4;
$blue_2: #f8fafd;
$blue_3: rgba( $blue_1, .1);
$green_1: #00c851;
$green_3: rgba( $green_1, .1);
$orange_1: #fb3;
$orange_3: rgba( $orange_1, .1);
$red_1: #ff3547;
$red_3: rgba( $red_1, .1);
$brand_color: #e5554e;

// Меню
$menu_bg_grey: $grey_2;
$dark_grey: $grey_4;
$light_grey: $grey_3;
$menu_hover: $blue_1;

// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ( blue, $blue_1 ),
	( green, $green_1 ),
	( orange, $orange_1 ),
	( red, $red_1 );

$base-color: $grey_11;
$highlight: $brand_color;
$border-color: $grey_4;

// Content
$content-width: 768px;
$block-margin: 30px;

// Grid
$grid-width: 1168px;
$grid-gap: 32px;
$base-margin: 16px;
$wrap_edge: $base-margin;
$margin_2x: $base-margin * 2;
$margin_4x: $base-margin * 4;

// Fonts
$roboto-font-path:            "../font/roboto/" !default;
$base-font: -apple-system,BlinkMacSystemFont,Roboto,sans-serif;

// Include Media
$breakpoints: (
  'phone'  : 360px,
  'small'  : 768px,
  'tablet' : 768px, // required for include-media
  'medium' : 768px + $grid-gap + 200px,
  'reading': 768px + $grid-gap + 200px + 440px,
  'large'  : 1200px,
  'desktop': $grid-width + $grid-gap, // required for include-media
);

@import "../vendor/_include-media";
@import "../modules/helpers";
@import "../modules/base-styles";
