/* Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner {
	overflow: hidden;
	padding: 20px 0 60px;
	@include media(">=tablet") {
		padding: 40px 0 100px;
	}

	&.full {
		padding: 0;
	}
}

/* Breadcrumbs
--------------------------------------------- */

.breadcrumb {
	color: $grey_6;
	grid-column: 1 / -1;
	max-width: $content-width;
	margin: 0 auto $base-margin;
	font-size: 14px;
	text-align: center;

	a {
		@extend %alt_link;
	}
	
	// Вместо текста в крошках для главной страницы значок домой
	.icon-home {
		background: url(../icons/color/home-grey.svg) no-repeat center;
		background-size: contain;
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		position: relative;
		vertical-align: middle;
		@extend %transition;
		
		&:hover {
			background: url(../icons/color/home-orange.svg) no-repeat center;
			background-size: contain;
			content: '';
			display: inline-block;
			width: 14px;
			height: 14px;
			position: relative;
			vertical-align: middle;
		}
	}

}

/* Single Post
--------------------------------------------- */

.entry {

	.entry-header {
		text-align: center;
		margin-bottom: 24px;

		.entry-title {
			margin: 0 auto 16px;
			max-width: 768px;
		}

		.entry-meta {
			color: $grey_7;
			margin: 0;
			padding: 6px 0;
			overflow: hidden;
			width: 100%;
			@include columns-mobile( 2, 'span', 16px );

			& > span {
				display: block;

				@include media("<tablet") {
					&.entry-comments-link {
						display: none;
					}
				}
			}

			.label {
				color: $grey_5;
				display: block;
				font-size: 14px;
				text-transform: lowercase;
			}

			a {
				@extend %alt_link;
				font-weight: 300;
			}
		}

		@include media(">=tablet") {
			margin-bottom: 48px;

			.entry-meta {
				max-width: 768px;
				margin-left: auto;
				margin-right: auto;

				.entry-author {
					text-align: left;
				}

				.single-code & {
					@include columns( 2, 'span' );

					.entry-date {
						text-align: right;
					}

				}

				.single-post & {
					@include columns( 3, 'span' );

					.entry-date {
						text-align: center;
					}

					.entry-comments-link {
						text-align: right;
					}
				}

			}
		}
	}

	.entry-content {

		@include media(">=medium") {

			.alignwide,
			.gist {
				margin: calc( 2 * #{$block-margin} ) -100px;
				max-width: calc( 100% + 200px );
			}

			.single-projects & .wp-block-image.alignfull {
				position: relative;

				&::after {
					background: $border-color;
					content: '';
					display: block;
					height: 2px;
					width: calc( 100% + 60px );
					position: absolute;
					left: -30px;
					bottom: -2px;
				}
			}
		}
	}

	.entry-footer {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		padding: 15px 0;
		margin: $margin_2x auto;
		overflow: hidden;
		width: 100%;

		@include media("<tablet") {
			text-align: center;
		}
		
		.shared-counts-wrap {
			margin: 0;
			float: left;
			width: auto;

			@include media("<tablet") {
				float: none;
			}
		}

		.post-ratings {
			width: auto;
			font-weight: 400;
			float: right;

			@include media("<tablet") {
				float: none;
				margin-top: 10px;

				.postratings-label {
					display: block;
				}
			}

			img {
				vertical-align: middle;
			}

		}
	}
}

/* Shared Counts
--------------------------------------------- */

.site-container .shared-counts-wrap.style-icon .shared-counts-button {

	@include media("<tablet") {
		display: inline-block;
		float: none;
	}

	.shared-counts-icon svg {
		@include icon-position( 20px, 32px );
	}
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}