/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $grey_2;
	border: 1px solid $border_color;
	color: $base-color;
	padding: 16px;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.footer-widgets input,
.footer-widgets input:focus {
	background-color: $white;
	border: 1px solid $white;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input:focus,
textarea:focus {
	background-color: $grey_3;
	border: 1px solid $grey_2;
	outline: none;
	@extend %transition;
}

@include placeholder-color( $grey_12 );

button,
.button,
button.wpforms-submit,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $base-color;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	color: $white;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
	text-align: center;
	text-decoration: none;
	@extend %transition;
	-webkit-appearance: none;

	&:hover {
		background-color: $highlight;
		color: $white;
		text-decoration: none;
	}
}

.button {
	display: inline-block;

	&.button-block {
		display: block;
		width: 100%;
	}

	.entry-content &:hover {
			color: $white;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}


/* Search Form
--------------------------------------------- */

.search-form {
	border: 1px solid $border-color;
	max-width: 400px;
	position: relative;
	overflow: hidden;

	.search-field {
		border: none;
		padding-right: 32px;
	}

	.search-submit {
		background: transparent;
		border: none;
		padding: 0;
		margin: 0;
		min-width: 0;
		width: 24px;
		height: 24px;
		text-align: center;
		position: absolute;
		top: 50%;
		margin-top: -12px;
		right: 4px;

		svg {
			fill: $highlight;
			@include icon-position( 24px );
		}

	}
}

/* WPForms
--------------------------------------------- */

.site-container .wpforms-container {
	max-width: 600px;
	margin: $margin_2x auto;

	.wpforms-field {
		padding: 0;
		margin-bottom: $base-margin;
	}

	.wpforms-submit-container {
		padding: 0;
		margin-top: $base-margin;
		text-align: center;
	}

	label.wpforms-error,
	.wpforms-field-label {
		font-size: 14px;
		font-weight: 400;
	}

	label.wpforms-error {
		margin-top: 8px;
	}

	.wpforms-field-label {
		margin-bottom: 8px;
	}
}
